.col-md-3 {
  overflow: hidden;
}

.modal .image-wrapper {
    text-align: center;
}
.modal .image-wrapper img {
    max-width: 560px;
    max-height: 560px;
}
.modal .image-description {
    text-align: center;
    margin-top: 10px;
}