.col-md-2 {
  overflow: hidden;
}

.divcontainer {
  margin-left: 4%;
}

.pin {
  border: 1px solid black;
  border-radius: 6px;
  margin: 7px;
  background-color: #fff;
  padding: 0;
}

.pin img {
  width: 236px;
  max-height: 350px;
  min-height: 350px;
  margin: 0;
}

.pin h4 {
  padding: 6px;
}

body {
  font-family: "helvetica neue", sans-serif;
  padding: 8px;
  background-color: #e9e9e9;
}

h1 {
  text-align: center;
}

#pinIt, #delPin {
  margin-right: 5px;
  color: white;
  background-color: red;
  font-family:'Brush Script MT', cursive;
  font-size: 16px;
}


#myPin, #addPin, #submit {
  color: white;
  background-color: red;
  margin-right: 15px;
  font-family:'Brush Script MT', cursive;
  font-size: 18px;
}

input[type="text"] {
  width: 400px;
}