.col-md-2 {
  overflow: hidden;
}

.pin {
  border: 1px solid black;
  border-radius: 6px;
  margin: 7px;
  background-color: #fff;
  padding: 0;
}

.pin img {
  width: 236px;
  margin: 0;
}

.pin h4 {
  padding: 6px;
}

body {
  font-family: helvetica, sans-serif;
  padding: 8px;
  background-color: #e9e9e9;
}

h1 {
  text-align: center;
}

.addBtn, .personalBtn {
  float: right;
  margin: 5px;
}