<input type="text" ng-model="searchPins" placeholder="Search here" id="searchBox"/>
<h4>Search by categories:</h4>
<!--     <select ng-model="searchCategories"
            ng-options="value.tag for value in pins | unique: 'tag'">
      <option></option>
    </select> -->
<br>
<div ng-repeat="pin in pins  | filter: searchPins | unique: 'img'">
  <div class="col-md-2 pin">
   <div class="">
     <a href="" data-toggle="modal" data-target="#myModal"><img ng-src="{{pin.img}}"></a>
     <h4>{{pin.title}}</h4>
     <div>
        <button type="button" class="pull-left" ng-click="addToUser(pin)">Pin</button>
        <br>
        <h4>Tag: {{pin.tag}}</h4>
     </div>
   </div>
 </div>

<!-- <div ng-include="modal-image.html"></div> -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><h4>{{pin.title}}</h4>
      </div>
      <div class="modal-body">
        <a target="_blank" href="{{pin.url}}" ><img ng-src="{{pin.img}}"></a>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="pull-left" ng-click="addToUser(pin)" data-toggle="modal" data-target="#modalConfirmMsg">Pin</button> -->
        <h4 class="pull-right">Tag: {{pin.tag}}</h4>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="modalConfirmMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><h4></h4>
      </div>
      <div class="modal-body">
        <a target="_blank" href="{{pin.url}}" ><img ng-src="{{pin.img}}"></a>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 -->
</div>

