/*
Error: Invalid CSS after "...e6f3026988390a4": expected "{", was "}"
        on line 13 of ../sass/main.scss

8: =======
9: .modal {
10:     max-width: 800px;
11:     max-height: 400px;
12: >>>>>>> c4312c2ce9359a3b70169e613e6f3026988390a4
13: }
14: 
15: .pin {
16:   border: 1px solid black;
17:   border-radius: 6px;
18:   margin: 7px;

Backtrace:
../sass/main.scss:13
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:1164:in `expected'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:1093:in `tok!'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:638:in `block'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:709:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:709:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:633:in `ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:410:in `run'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.4.16/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:19:in `load'
/usr/local/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...e6f3026988390a4\": expected \"{\", was \"}\"\A         on line 13 of ../sass/main.scss\A \A 8: =======\A 9: .modal {\A 10:     max-width: 800px;\A 11:     max-height: 400px;\A 12: >>>>>>> c4312c2ce9359a3b70169e613e6f3026988390a4\A 13: }\A 14: \A 15: .pin {\A 16:   border: 1px solid black;\A 17:   border-radius: 6px;\A 18:   margin: 7px;"; }
